<footer class="footer footer-position d-flex">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#" disabled>
            Creative Tim
          </a>
        </li>
        <li>
          <a href="#" disabled>
            About Us
          </a>
        </li>
        <li>
          <a href="#" disabled>
            Blog
          </a>
        </li>
        <li>
          <a href="#" disabled>
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right text-muted">
      &copy;
      {{test | date: 'yyyy'}}<span> PhanterGaming - Agustin Cammarota Muti</span>
    </div>
  </div>
</footer>
