<div class="footer-position">
  <footer>
    <div class="container">
      <nav class="ml-5 pl-5">
        <ul class="ml-5">
          <li>
            <a>
              Creative Tim
            </a>
          </li>
          <li>
            <a>
              About Us
            </a>
          </li>
          <li>
            <a>
              Blog
            </a>
          </li>
          <li>
            <a>
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right text-muted ml-5 pl-5">
        <span class="ml-5">
          &copy;
          {{test | date: 'yyyy'}}<span> PhanterGaming - Agustin Cammarota Muti</span>
        </span>
      </div>
    </div>
  </footer>
</div>

