a {
  color: #e2e3fc !important;
  font-size: 15px;
  font-family: sans-serif;
}

span {
  color: #8d8d98;
  font-size: 13px !important;
}

.contenedor-padre {
  margin-top: 100px;
}

.navbar-principal {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.titulo-navbar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 26px;
  color: #4f4d4d !important;
}

.icono-navbar {
  width: 20px;
  height: 20px;
}

.imagen-navbar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 0;
}

.icono-reporte {
  color: #8d8d98;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.iconos-reporte {
  color: #8d8d98;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.nav-reporte {
  padding: 0;
  margin-bottom: 0;
  margin-top: 3px;
  margin-left: 30px;
}

.iconos {
  margin-right: 5px;
  color: #e2e3fc;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
}

.dashboard {
  margin-left: 5px;
  font-size: 20px;
  padding: 5px 5px 8px 0;
  margin-top: 30px;
}

.border {
  border-bottom: #e2e3fc solid .3px;
  margin-bottom: 20px;
}

.icono-dashboard {
  margin-right: 5px;
  color: #e2e3fc;
  vertical-align: text-bottom;
  width: 25px;
  height: 25px;
  margin-left: 9px;
}

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  padding-top: 0 !important;
  margin-top: 0 !important;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-link:hover {
  color: #007bff !important;
}


.sidebar .nav-link:hover .iconos {
  color: #007bff !important;
}

.sidebar .nav-link:hover .icono-dashboard {
  color: #007bff !important;
}

.sidebar .nav-link.active {
  color: #ffffff !important;
}

.sidebar .nav-link.active .iconos{
  color: #ffffff !important;
}

.sidebar .nav-link.active .icono-dashboard{
  color: #ffffff !important;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
  .dashboard {
    margin-top: 15px;
  }

}
