<div class="container">
  <div mat-dialog-title class="d-flex align-items-center bordes">
    <i class="material-icons titulo-color" style="font-size: 40px">mail_outline</i>
    <span class="ml-2 tim-note titulo-color">Formulario de Registro</span>
  </div>

  <mat-dialog-content class="mat-typography tamaño-dialog">
    <form autocomplete="off" [formGroup]="formulario" class="row">

      <div class="col-md-6 mt-4">
        <mat-form-field appearance="fill">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="nombre">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-hint>Ej. Phanter Gaming</mat-hint>
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mt-4">
        <mat-form-field appearance="fill">
          <mat-label>Correo Electronico</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-hint>Ej. pat@example.com</mat-hint>
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mt-3 mb-4">
        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" mask="00.000.000">
          <mat-icon matSuffix>payment</mat-icon>
          <mat-hint>Ej. 40.657.801</mat-hint>
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mt-3 mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="telefono" mask=" (000) 0000-0000" prefix="+54">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Ej. (000) 0000-0000</mat-hint>
          <mat-error></mat-error>
        </mat-form-field>
      </div>
    </form>
    </mat-dialog-content>
      <mat-dialog-actions align="end" class="mb-1">
      <button mat-stroked-button mat-dialog-close color="warn">Cancelar</button>
      <button mat-stroked-button mat-dialog-close [disabled]="formulario.invalid" type="button" (click)="guardar()" color="primary">Guardar</button>
    </mat-dialog-actions>
</div>


