table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table td {
  color: #8d8d98;
}

table th {
  color: #4f4d4d;
}

.p-mat-cell {
  padding-right: 0 !important;
  margin-right: 0!important;
}

.limpiar-filtro {
  cursor: pointer;
}

.alert {
  width: 100% !important;
  height: 70px !important;
  display:inline-block;
  text-align: center;
}

.icono-card {
  font-size: 50px;
}

.titulo-card {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.border-card {
  border: rgba(48, 46, 46, 0.7) solid 3px;
  border-radius: 0 0 0 50px;
}

.botones-tabla {
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  background-color: transparent;
  border: 1px solid transparent;
}

.mat-elevation-z8 {
  overflow: auto;
}

.contenedor-grafico, .contenedor-pedido {
  background-color: #FFFFFF;
}

.contenedor-pedido {
  width: 100%;
  height: 275px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.contenedor-pedido table tbody tr td {
  padding-bottom: 10px;
}

.contenedor-pedido h2 {
  margin: 10px 0 10px;
}

.contenedor-grafico {
  width: 100%;
  height: 275px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

tr td:nth-child(2) {
  padding-left: 10px;
}
