table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table td {
  color: #8d8d98;
}

table th {
  color: #4f4d4d;
}

.p-mat-cell {
  padding-right: 0 !important;
  margin-right: 0!important;
}
